.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0 0 10px #ccf;
  max-width: 25%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
